<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Заказ</title>
    <link rel="stylesheet" th:href="@{/css/forall.css}"/>
    <link rel="stylesheet" th:href="@{/css/order.css}"/>
    <script type="text/javascript" th:src="@{/js/order-begin.js}"></script>
</head>
<body onload="updatePrice()">
    <div class="error-message" th:if="${has_error}">
        Некоторые продукты более недоступны и удалены из корзины
        <span onclick="this.parentElement.style='display:none'">X</span>
    </div>
    <div class="panel menu">
        <div class="menu-element">
            <h1>Меню</h1>
        </div>
        <hr/>
        <div class="menu-element">
            <a th:href="@{/}">На главную</a>
        </div>
        <div class="menu-element">
            <a th:href="@{/store}">Каталог</a>
        </div>
    </div>
    <div class="panel content">
        <div class="product content-part" th:each="product: ${products}">
            <span th:text="${product.name}"/><br/>
            Цена: <span class="price" th:text="${product.price}"/><br/>
            Количество:
            <button onclick="sub(this)">-</button>
            <span class="counter">1</span>
            <button onclick="add(this)">+</button>
            из <span class="max-counter" th:text="${product.count}" />
        </div>
        <div class="content-part">
            <p>Общая стоимость: <span id="total_price"></span></p>
            <a id="next" th:href="@{/order/counts}">Перейти к заполнению информации</a>
        </div>
    </div>
</body>
</html>